@import url('https://fonts.googleapis.com/css?family=Devonshire&display=swap&subset=latin-ext');

body {
  margin: 0;
  padding: 0;
  font-family: 'Devonshire', cursive;
  background-image: url('../images/bg.jpeg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.container {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 1140px;
  height: 100vh;
}

header h1{
  margin: 0;
  letter-spacing: 8px;
  font-size: 60px;
  border-bottom: 1px solid;
  padding: 0;
  text-shadow: red 2px 2px 4px;
}

header h3{
  letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: red 1px 1px 10px;
}

.scores-wrapp {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;

  .score-wrapper {
    height: 100px;
    width: 100px;
    border: solid 6px red;
    border-radius: 28px;
    border-style: outset;
    background: black;

    p, .ind-score {
      font-size: 14px;
      color: white;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-shadow: white 2px 2px 8px;
    }

    .ind-score {
      font-size: 30px;
    }
  }  
}


.meessagesWrapper {
  #compOptions {      
    img {
      height: 80px;
      padding: 0 10px;
      opacity: 0.2;
      transition: 0.5s;
      transform: scale(0.8);
    }

    img.active {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  #messages {
    font-size: 40px;
    text-shadow: white 2px 2px 8px;
    letter-spacing: 4px;
  }
}




section.bottom {
  left: 0;
  width: 100%;
  bottom: 0;
  position: fixed;

  .bottom-text {
    text-shadow: red 1px 1px 10px;
    letter-spacing: 8px;
    margin-bottom: 80px;
  }

  .player-choice{
    display: flex;
    justify-content: center;        
  }

  #buttons {
    padding-bottom: 30px;
  
    img {
      margin: 0;
      height: 200px;
      filter: grayscale(1);
      transition: 0.5s;
      transform: scale(0.6);
    }
  
    img:hover {
      filter: grayscale(0);
      transform: scale(1);
    }
  }

}

/* Footer */ //DONE

footer {
  left: 0;
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  background: rgb(61, 60, 60);

  p {
    margin: 3px 0;
    color: grey;
    letter-spacing: 4px;
  }
}